{% extends "cinema/base.html" %}

{% block header %}
    {%include "cinema/header.html"%}
{% endblock%}
{% block content %}

<style>

    .information-container {
        background-color: beige;
        margin-top: 16;
        border-radius: 5px;
        padding: 8px;
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .movieTitleContainer p {
        font-size: 30px;
        font-weight: 700;
        color: #ff8e00
    }

    .resumeContainer {
        margin-top: 16px;
        color: rgb(39, 130, 241);
        font-size: 20px;
        margin-bottom: 40px;
    }
    .imageContainer {
        display: flex;
        width: "100%";
        flex-direction: row;
        justify-content: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .cardContainer{
        padding: 12px;
        display: flex;
        width: "80%";
        flex-direction: row;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        border-radius: 5px;
        background-color: white;
        margin-bottom: 6px;
    }
    .cardInformationContainer {
        color:rgb(39, 130, 241);
        font-size: 26;
        margin-left: 16px;
    }
    .cardDescription {
        color:rgb(39, 130, 241);
        font-size: 16;
    }

    .movieTitleContainer {
        margin-bottom: 8px;
    }

    .title-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 200px;
        width: 300px;
        background-color: mediumspringgreen;
        border-radius: 10px;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }

    .title-container h2 {
        color: white;
        font-family: monospace;
        font-size: 30px;
        text-align: center;
    }

    .cardTitle p{
        margin-bottom: 5px;
    }
</style>
<div class="information-container">
    <div class="title-container">
        <div class="titleIndex">
            <h2>{{title}}<h2>
        </div>
        <div>
            <p>{{subtitle}}<p>
        </div>
    </div> 
</div>

{% endblock %}